<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Cliente</title>
</head>
<body>
    <h1>Pesquisar Cliente:</h1>
    <form action="/pesquisar_cliente" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required>
        <button type="submit">Pesquisar Cliente</button>
    </form>
</body>
</html>
